  <!-- Content Area -->
<div id="da-content-area">
  <div class="grid_2">
    <div class="da-panel">
      <div class="da-panel-header">
        <span class="da-panel-title">
          <img src="/assets/admin/images/icons/black/16/pencil.png" alt="" />
          New Banner
        </span>
      </div>
      <div class="da-panel-content">
        <%= form_for(@banner_image, :url =>  admin_banners_path, :html => {:class => "da-form"}) do |f| %>
          <%= render :partial => 'form', :locals => {:f => f} %>
        <% end %>
        </div>
      </div>
    </div>
  </div>