<article> 
  <div class="container">
    <div class="heading-spacing">
      <h1><span>Faq</span></h1>
    </div>  
    <div class="box-faq">
      <div class="box-billing">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a class="collapsed accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" title="Billing Information">What is  Roasara?</a>
            </h4>
          </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">

                <p>Rosara provides tastefully-curated, signature and rare-to-find products to the discerning Indian and Western audience. We meet the style needs of the working, independent city dweller with a unique tastemaker backed model where our Creative Directors help curate an assortment of products that are in keeping with worldwide trends.</p>
              
                <h5>Our Promise</h5>
                <br/>
                <p>The refreshing editorial perspective that supports our carefully chosen products guides our consumers in making informed choices that help express their own, unique style. We seek to deliver an inspiring and expert-guided retail experience like no other.</p>
                
              </div>
            </div>
          </div>

          <div class="heading-spacing">
            <h1><span>Order</span></h1>
          </div> 

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" title="Delivery Details">How can I change/cancel my order?</a>
            </h4>
          </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <p>If you need to change or cancel your order, please contact our Customer Loyalty Team immediately at +91 80 41105846 from Monday to Friday between 10 AM- 6 PM. You may also email us at help@rosaralifestyle.com.</p>
                <p>Please be advised that some orders are shipped almost immediately and it may not always be possible to cancel.</p>
                <p>Note: If you cancel an order before the product(s) has been shipped to you, we will refund your entire amount by giving you a credit voucher which you can use to shop anytime.</p>
              </div>
            </div>
          </div>


          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
              <a class="collapsed accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" title="Payment Methods">How can I check the status of my order?</a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <p>After placing an order, you can view your order status by clicking on the 'My Account' link at the top-right corner of every page. From there, you will be able to view information about your order with ease.</p>
              </div>
            </div>
          </div>


          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
              <h4 class="panel-title">
              <a class="collapsed accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree" title="Confirm Orders">Why is my order still processing?</a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <p>This may be due to a time lag between systems. Your order will be on its way in the time-frame promised. If however you would still like to check with us, please feel free to email us at help@rosaralifestyle.com or call us at +91 80 41105846.</p>
              </div>
            </div>
          </div>

          <div class="heading-spacing">
            <h1><span>Waitlist</span></h1>
          </div> 


          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
              <h4 class="panel-title">
              <a class="collapsed accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseThree" title="Confirm Orders">What is waitlist policy?</a>
              </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
              <div class="panel-body">
                <p>All our products are manufactured in limited quantities to maintain exclusivity, so some sold-out items may not be available again. However, we have a waitlist option available on the product page. If you choose to waitlist a product, we will notify you via email when the piece is available again and you will be directed to the site to process your payment.</p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSix">
              <h4 class="panel-title">
              <a class="collapsed accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix" title="Confirm Orders">What is the 'Add to Waitlist' option?</a>
              </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
              <div class="panel-body">
                <p>We order our products in limited quantities. However, there are always some products that customers absolutely love. When we sell out of a certain product, the 'Add to Cart' option will change to 'Add to Waitlist'. Please add this to your waitlist and we will do everything we can to get the product to you.</p>
              </div>
            </div>
          </div>


          <div class="heading-spacing">
            <h1><span>GIFT VOUCHER</span></h1>
          </div> 


          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSeven">
              <h4 class="panel-title">
              <a class="collapsed accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseThree" title="Confirm Orders">How does a gift voucher work?</a>
              </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
              <div class="panel-body">
                <p>You can send a gift voucher of any value to your friends and family so that they can shop to their hearts out at www.rosaralifestyle.com! We email the gift voucher to the recipient on your behalf and you can see the voucher details under the 'My Orders' tab in 'My Account'.</p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingEight">
              <h4 class="panel-title">
              <a class="collapsed accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight" title="Confirm Orders">How can I use my gift voucher?</a>
              </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
              <div class="panel-body">
                <p>If you have received a gift voucher for www.rosaralifestyle.com, why wait? All you have to do is register on our site, shop the products or looks you like and at the checkout page, enter your gift voucher code. Your gift voucher will automatically adjust against your purchase instantly.</p>
              </div>
            </div>
          </div>

          <div class="heading-spacing">
            <h1><span>RETURNS</span></h1>
          </div> 


          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingNine">
              <h4 class="panel-title">
              <a class="collapsed accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseThree" title="Confirm Orders">How do I know if an item is eligible for return?</a>
              </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
              <div class="panel-body">
                <p>We accept returns and exchanges within 15 days of the package being delivered. Our return policy is clearly defined for each product on its page. Products that cannot be returned are highlighted as final sales and labeled as 'This product is a final sale.' Some products may be exchanged for store credit and are returnable only unused, in the state you received it, and in the original packaging.</p>

                <p>Please write to us at help@rosaralifestyle.com, and state the reason of your return in the subject line of the email.</p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTen">
              <h4 class="panel-title">
              <a class="collapsed accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen" title="Confirm Orders">Will my money be refunded or will I get a credit voucher?</a>
              </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
              <div class="panel-body">
                <p>In case of returns, we will credit the amount you paid for the products as a voucher code. </p>
                <p>Note: In case you have received a damage item or defective piece or the wrong product, you will need to get in touch with us within 24-72 hours of receiving the parcel by sending us an email on help@rosaralifestyle.com and we will get in touch with you in 24-48 working hours and arrange a replacement on priority and pick up the products from you.</p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingEleven">
              <h4 class="panel-title">
              <a class="collapsed accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven" title="Confirm Orders">What is the process to return a product?</a>
              </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
              <div class="panel-body">
                <p>Step 1:  Contact our Customer Support team. Write to them at help@rosaralifestyle.om or call them at +91 80 41105846 from Monday to Friday between 10AM - 6PM.</p>
                <p>Step 2: Fill out the form which you have received in the parcel of your order</p>
                <p>Step 3: Please seal the package properly with the return form and courier it to us at</p>
                <p>Rosara Lifestyle Pvt Ltd</p>
                <p>30 Church street,  First Floor,</p>
                <p>Bangalore – 560 001</p>
                <p>Step 4: Please email us to inform us that you are sending the package back to us, with your order number as the subject line and tracking details in the body of the email.</p>
                <p>Step 5: Once we receive the products it will take is 24-48 working hours for us to do a quality check and then we will call you or email you for a exchange or refund.</p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwelve">
              <h4 class="panel-title">
              <a class="collapsed accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve" title="Confirm Orders">My order arrived incomplete/incorrect/damaged or defective. I want to have it fixed/return it.</a>
              </h4>
            </div>
            <div id="collapseTwelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
              <div class="panel-body">
                <p>If you have received a damage item or defective piece or the wrong product, you will need to get in touch with us within 24-72 hours of receiving the parcel by sending us an email on help@rosaralifestyle.com along images of your order and we will get in touch with you in 24-48 working hours and arrange a replacement on priority and pick up the products from you.</p>
                <p>Note: In case of international shipment you will need to courier the product back to us.</p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThirteen">
              <h4 class="panel-title">
              <a class="collapsed accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen" title="Confirm Orders">How can I return a gift I received?</a>
              </h4>
            </div>
            <div id="collapseThirteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirteen">
              <div class="panel-body">
                <p>We are very sorry that your gift did not work for you. Please email our Customer Loyalty Team at help@rosaralifestyle.com for assistance in returning the item. They will need some information in order to pull up the account that the gift was purchased on. Please provide the gifter's phone number, first and last names or email address. Any gift item being returned will be refunded to the original purchaser's by giving store credit or exchanging the gift for you for another item.</p>
              </div>
            </div>
          </div>

          <div class="heading-spacing">
            <h1><span>SHIPPING</span></h1>
          </div> 


          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFourteen">
              <h4 class="panel-title">
              <a class="collapsed accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen" title="Confirm Orders">What shipping method does www.rosaralifestyle.com use?</a>
              </h4>
            </div>
            <div id="collapseFourteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFourteen">
              <div class="panel-body">
                <p>We use a large network of couriers to deliver your products to you as soon as possible. </p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSixteen">
              <h4 class="panel-title">
              <a class="collapsed accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen" title="Confirm Orders">What does www.rosaralifestyle.com charge for shipping?</a>
              </h4>
            </div>
            <div id="collapseSixteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSixteen">
              <div class="panel-body">
                <p>Shipping is free on a minimum purchase above Rs. 1,000. For an invoice value less than that, we charge a nominal shipping charge of Rs. 150.</p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSeventeen">
              <h4 class="panel-title">
              <a class="collapsed accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen" title="Confirm Orders">Are there ever any additional shipping fees?</a>
              </h4>
            </div>
            <div id="collapseSeventeen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeventeen">
              <div class="panel-body">
                <p>Yes, in certain cases there could be additional shipping and handling fees if the product is excessively voluminous or heavy or if it needs special care during transportation.</p>
              </div>
            </div>
          </div>


          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingEighteen">
              <h4 class="panel-title">
              <a class="collapsed accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEighteen" aria-expanded="false" aria-controls="collapseEighteen" title="Confirm Orders">How long until my order ships?</a>
              </h4>
            </div>
            <div id="collapseEighteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEighteen">
              <div class="panel-body">
                <p>We dispatch products from Monday to Friday. Once you place the order, we will dispatch it the next working day.</p>
                <p>However in case of a Cash On Delivery order, we will dispatch it the next working day after the cash on delivery order is confirmed. Then, it will take another 2 - 10 working days for the parcel to reach you based on your location.</p>
                <p>In case the parcel needs to be delivered within Bangalore, it will take 1-2 days for you to receive your order.</p>
                <p>In case the parcel needs to be delivered outside Bangalore, but in a major city, it will take 3-4 days for you to receive your order.</p>
                <p>In case the parcel needs to be delivered outside Bangalore but not in a major city, it will take 5-10 days for you to receive your order.</p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingNineteen">
              <h4 class="panel-title">
              <a class="collapsed accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNineteen" aria-expanded="false" aria-controls="collapseNineteen" title="Confirm Orders">Will all the items in my order be shipped in the same box?</a>
              </h4>
            </div>
            <div id="collapseNineteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNineteen">
              <div class="panel-body">
                <p>Not necessarily. A single order may ship as multiple shipments in order to ensure that the product is safe and handled with care - and therefore, gets to you in time.</p>
              </div>
            </div>
          </div>

           <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwenty">
              <h4 class="panel-title">
              <a class="collapsed accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwenty" aria-expanded="false" aria-controls="collapseTwenty" title="Confirm Orders">Is it possible to get shipping insurance?</a>
              </h4>
            </div>
            <div id="collapseTwenty" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwenty">
              <div class="panel-body">
                <p>Not to worry, all our product shipments are insured.</p>
              </div>
            </div>
          </div>





          <div class="heading-spacing">
            <h1><span>MY ACCOUNT</span></h1>
          </div> 

           <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwentyOne">
              <h4 class="panel-title">
              <a class="collapsed accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyOne" aria-expanded="false" aria-controls="collapseTwentyOne" title="Confirm Orders">How do I unsubscribe from your email newsletter?</a>
              </h4>
            </div>
            <div id="collapseTwentyOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwentyOne">
              <div class="panel-body">
                <p>Login to your account at rosaralifestyle.com and select the 'Unsubscribe' feature. You can also click the 'Unsubscribe' tab present in our weekly newsletter.</p>
              </div>
            </div>
          </div>

           <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwentyTwo">
              <h4 class="panel-title">
              <a class="collapsed accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyTwo" aria-expanded="false" aria-controls="collapseTwentyTwo" title="Confirm Orders">I forgot my password. Can you tell me what it is?</a>
              </h4>
            </div>
            <div id="collapseTwentyTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwentyTwo">
              <div class="panel-body">
                <p>Select 'Forgot Password' while logging in and the system will send you a link using which you can reset your password.</p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwentyThree">
              <h4 class="panel-title">
              <a class="collapsed accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyThree" aria-expanded="false" aria-controls="collapseTwentyThree" title="Confirm Orders">How do I change my email address?</a>
              </h4>
            </div>
            <div id="collapseTwentyThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwentyThree">
              <div class="panel-body">
                <p>Once an email address has been registered with us, it cannot be deleted. But you can email us the ID that you used for registering onwww.rosaralifestyle.comand your new email address, and we will change the email address for your account.</p>
              </div>
            </div>
          </div>

        </div>
      </div>  
    </div>
  </div>    
</article>