<article> 
  <div class="container">
    <div class="heading-spacing">
      <h1><span>Payments</span></h1>
    </div>  
    <ul class="list-terms-content">
        <li>
          <h6>What payment methods can I use?</h6>
          <p>We have a number of payment methods. Choose the one that is most convenient for you. The options are:</p>
       
          <h6>1. Online Payment via Credit or Debit</h6>
          <p>We accept Visa and MasterCard.</p>
          <p>Please note that if you have received a notifications that payment is gone through successfully and your order status shows a payment error, please email us on help@rosaralifestyle.comand we will get in touch with you 24-48 working hours.</p>

          <h6>2. Cash on Delivery (COD)</h6>
          <p>You can make the payment in cash to the delivery agent once the product reaches you.</p>
        </li>

        <li>
          <h6>CASH ON DELIVERY</h6>
          <h6>Do you offer cash on delivery?</h6>
          <p>We accept cash on delivery for orders shipped to 49 cities in India. The cities are: Agra, Ahmedabad, Ajmer, Allahabad, Allepey, Anand, Aurangabad, Bangalore, Baroda, Bhubaneshwar, Calicut, Chandigarh, Chennai, Cochin, Coimbatore, Delhi, Erode, Faridabad, Ghaziabad, Goa, Gorakhpur, Gurgaon, Hyderabad, Jammu, Jaipur, Jodhpur, Kanpur, Kolhapur, Kolkata, Kottayam, Lucknow, Madurai, Mangalore, Mumbai, Mysore, Nagpur, Nasik, Palakkad, Patna, Pune, Salem, Surat, Tirupur, Trissur, Trivandrum, Udaipur, Vapi, Vijaywada, Vishakhapatnam, Warangal.</p>
        </li>

        <li>
          <h6>How does cash on delivery work?</h6>
          
          <p>Please select the 'Cash on Delivery' option when you are asked for your payment details while checking out.</p>
          <p>Once you have placed your order with selecting payment method 'Cash On Delivery', we follow a simple 3 step process:</p>
          <p>Step 1 of 3: You will receive an email to inform you that we have received your order and details</p>
          <p>Step 2 of 3: Our Customer Care team will call you to confirm the same. Please make a note of this so that calls from unfamiliar numbers don't go unanswered. Once we have spoken with you and confirmed your order, you will receive a final confirmation email as well.</p>
          <p>Step 3 of 3: If we haven't been able to get in touch with you for 7 days after you placed the order, the order will be cancelled.</p>
        </li>

        <li>
          <h6>Is there an additional charge for cash on delivery?</h6>
          
          <p>The regular shipping fees apply if you select the 'Cash on Delivery' offer. Shipping is free on a minimum purchase above Rs. 1000. For an invoice value less than that, we charge a nominal shipping charge of Rs. 150.</p>
        </li>
        
      </ul>     
  </div>    
</article>