<article> 
  <div class="container">
    <div class="heading-spacing">
      <h1><span>RETURNS & EXCHANGE</span></h1>
    </div>  
    <ul class="list-terms-content">
        <li>
          <h6>FOR SHIPPING WITHIN INDIA</h6>
          <p>We offer you the option to return or exchange items purchased within 15 days of receipt of your order no questions asked . In case of returns, we will credit the amount you paid for the products as a Credit voucher or exchange the same . If you choose to exchange the item for reason of mismatch of size, damage , wrong product received or receipt of a defective item, you will be provided with a replacement of the item, free of cost. However an exchange is subject to availability of the item in our stock.Our return policy is clearly defined for each product on its page. Products that cannot be returned are labeled as 'This product is a final sale, other products may be exchanged and are returnable . Gift vouchers and codes cannot be returned.</p>

          <p>Please note in case you have received a damaged item, a defective piece or the wrong product. You will need to get in touch with us within 24-72 hours of receiving the parcel by emailing us on help@rosaralifestyle.com along with pictures. Incase you miss this timeline we will not be able to provide you a replacement. We will get in touch with you in 24-48 working hours and arrange a replacement on priority and pick up the products from you .</p>
        </li>

        <li>
          <h6>4 SIMPLE STEPS TO EXCHANGE OR RETURN YOUR ORDER</h6>
        </li>
        <li>
          <h6>STEP 1: CONTACT OUR CUSTOMER SUPPORT TEAM</h6>
          <p>help@rosaralifestyle.com| Call +91 80 41105846(Monday to Friday, 10am - 6pm IST)</p>
        </li>
        <li>
          <h6>STEP 2: FILL OUT THE FORM WHICH YOU HAVE RECEIVED IN THE PARCEL OF YOUR ORDER .</h6>
        </li>
        <li>
          <h6>STEP 3: PLEASE SEAL THE PACKAGE PROPERLY WITH THE RETURN FORM AND COURIER IT TO US AT</h6>
          <p>Rosara Lifestyle Pvt. Ltd.</p>
          <p>30 Church Street, First Floor,</p>
          <p>Bangalore – 560 001.</p>
          <p>Please include all the accessories of that product. If you are returning a product from rosaralifestyle.com, please ensure that it is packaged securely as the pieces are fragile.</p>
        </li>
        <li>
          <h6>STEP 4: PLEASE DROP US AN EMAIL WHEN YOU ARE SENDING THE PACKAGE BACK TO US, WITH YOUR ORDER NUMBER IN THE SUBJECT LINE AND TRACKING DETAILS IN THE BODY OF THE EMAIL .</h6>
        </li>
      </ul>     
  </div>    
</article>