<article> 
  <div class="container">
    <div class="heading-spacing">
      <h1><span>Terms and Conditions</span></h1>
    </div>  
    <ul class="list-terms-content">
        <li>
          <h6>Terms of Offer for Sale / Supply Terms</h6>
          <h6>1. General</h6>
          <p>1.1. These terms of offer for sale ("Supply Terms") apply to products purchased via www.rosaralifestyle.com, </p>
          <p>1.2. PLEASE READ THE TERMS OF OFFER FOR SALE CAREFULLY BEFORE PURCHASING ANY PRODUCTS OR AVAILING ANY SERVICES ON THE WEBSITE. ANY PURCHASE MADE BY YOU THROUGH THE WEBSITE SHALL SIGNIFY YOUR ACCEPTANCE OF THE SUPPLY TERMS AND YOUR AGREEMENT TO BE LEGALLY BOUND BY THE SAME. IN ADDITION TO THE FOREGOING, YOU SHALL ALSO BE BOUND BY THE TERMS OF USE OF THE WEBSITE, TERMS BY THE VENDOR OR ADDITIONAL TERMS OF SERVICE WHICH ARE DISPLAYED WITH THE SELECTION OF THE PRODUCT, IF ANY ("ADDITIONAL TERMS"). IF THERE IS ANY CONFLICT BETWEEN THE SUPPLY TERMS AND THE ADDITIONAL TERMS, THE ADDITIONAL TERMS SHALL TAKE PRECEDENCE IN RELATION TO THAT SALE.</p>
          <p>1.3. IF YOU DO NOT AGREE WITH THE SUPPLY TERMS, PLEASE DO NOT ACCESS THE WEBSITE FOR ANY PURCHASE.</p>
        </li>

        <li>
          <h6>2. Business</h6>
          <p>2.1. The Website is a platform that facilitates the online sale and purchase of merchandise and services ("Services") offered by third party vendors and service providers ("Vendor/s"). Title to the merchandise (“Products”) will pass directly from the Vendors to You.</p>
          <p>2.2. Rosara Lifestyle has the right to change or discontinue any Service at any time, without notice. Rosara Lifestyle may add or modify the procedures, modes, processes or conditions of purchase at any time. Rosara Lifestyle shall not be liable to You or to any third party for any modification, suspension or discontinuance of any aspect of the Services.</p>
        </li>

        <li>
          <h6>3. Product</h6>
          <p>3.1. Rosara Lifestyle enables sale of a variety of Products. SHIPPING for all the products on the Website shall be per the company's policy, which may be changed by Rosara Lifestyle from time to time.</p>
          <p>3.2. In case, you receive a damaged Product, please bring it to the notice of the delivery personnel immediately. In case you notice an issue later, please get in touch with on our customer care number or write to us at help@rosaralifestyle.com. Damage will be assessed in 1-2 days and a solution will be offered. The piece may be replaced or other corrective measure may be taken to address the issue.</p>
        </li>

        <li>
          <h6>4. Services</h6>
          <p>4.1. You should take all responsibility for your own actions in utilizing the Products purchased by You and Rosara Lifestyle shall not be liable for any such action.</p>
          <p>4.2. You represents that You are of legal age to form a binding contract and are not a person barred from receiving services under the laws as applicable in India.</p>
          <p>4.3. Rosara Lifestyle shall not be responsible for any deficiency in payment of consideration payable towards the Products purchased on the Website.</p>
        </li>

        <li>
          <h6>5. Pricing Information</h6>
          <p>5.1. The Pricing Information relating to the Product shall be as disclosed to you at the time of your purchase.</p>
          <p>5.2. Rosara Lifestyle does not guarantee that the price will be the lowest in the city, region or geography. Prices and availability are subject to change without notice or any consequential liability to You.</p>
          <p>5.3. While Rosara Lifestyle strives to provide accurate information relating to Products, services including pricing information, typographical and other errors may occur. In the event that a Product or service is listed at an incorrect price or with incorrect information due to an error, Rosara Lifestyle may, at its discretion, either contact You for instructions or cancel Your order and notify You of such cancellation. Rosara Lifestyle will have the right to modify the price of the Product and contact You for further instructions via e-mail address provided by You at the time of registration, or cancel the order and notify You of such cancellation. If Rosara Lifestyle cancels the order after the payment has been processed, the said amount will be remitted to Your account from which the payment was made.</p>
        </li>

        <li>
          <h6>6. Credit Card Details</h6>
          <p>You might be required to provide Your credit or debit card details to the approved payment gateways while making the payment. In this regard You agree to provide correct and accurate credit/ debit card details to the approved payment gateways for availing Services on the Website. You shall not use the credit/ debit card that is not lawfully owned by You. The information provided by You will not be utilized  or shared with any third party unless required in relation to fraud verifications or by law, regulation or court order. You will be solely responsible for the security and confidentiality of Your credit/ debit card details. Rosara Lifestyle expressly disclaims all liabilities that may arise as a consequence of any unauthorized use of Your credit/ debit card.</p>
        </li>

        <li>
          <h6>7. Delivery of the Product</h6>
          <p>Your shipping address, pin code will be verified with the database of Rosara Lifestyle before You proceed to pay for Your purchase. If Your order is not serviceable by delivery partners or the Vendor or the area is not covered, we would request You to provide us with an alternate shipping address which we expect to have on delivery partner’s/Vendor’s delivery list. If there is any dispute regarding the shipment of the product or services for the area not covered by Rosara Lifestyle, Rosara Lifestyle will not be responsible for the non-delivery of the product. Rosara Lifestyle doesn't deliver items internationally. However, You can make purchases on the website from anywhere in the world but at the same time ensuring the shipping address is within India. In case You book multiple orders for the Products and Services in one transaction, efforts will be made to ship all Products together. However, this may not always be possible. If You purchase multiple Products in a single transaction you may provide separate shipping addresses for each Product.</p>
        </li>

        <li>
          <h6>8. Return Policy for Products</h6>
          <p>8.1. If You receive a damaged / defective Product or a Product that does not comply with the specifications as per your original order, please get in touch with the customer service at the call centre</p>
          <p>8.2. Upon receiving Your complaint, Rosara Lifestyle shall verify the authenticity and the nature of the complaint and if Rosara Lifestyle is convinced that the complaint is genuine, Rosara Lifestyle will inform the relevant Vendor of such complaint and request for a replacement. If the complaint is frivolous or baseless, Rosara Lifestyle reserves the right to take legal actions against You and You will be solely liable for all costs incurred by Rosara Lifestyle in this regard.</p>
          <p>8.3. In order to return any Products, You are required to comply with the below mentioned conditions, viz: • Please notify Rosara Lifestyle of receipt of a damaged/ defective product/service within 48-hours of delivery to You. If You are unable to do so within 48-hours, the Vendor shall not be held liable for the failure to replace the order;* • Products should be unused;* • Rosara Lifestyle will arrange pick-up of the damaged/defective Product. If Rosara Lifestyle is unable to do so, Rosara Lifestyle will notify You regarding the same and You will be required to dispatch the product using a reputed courier in Your respective area within one (1) day from receipt of such notice. Courier freight charges will be reimbursed in such form as is determined by the logistics team upon prior consultation with Rosara Lifestyle; • Products should be returned in their original packaging along with the original price tags, labels, barcodes, user manual, warranty card and invoices etc.; • It is advised that the return packets should be strongly and adequately packaged so that there is no further damage of products during transit; • The returned Products are subject to verification and checks by Rosara Lifestyle in order to determine the legitimacy of the complaint/ return. If the claim is not legitimate, you will be required to bear the shipping costs for the product. * These conditions will not apply to Products where the defects could not, using reasonable diligence, have been discovered, at the time of delivery.</p>
          <p>8.4. If a Product returned is duly accepted by Rosara Lifestyle, the value of such Product, as originally paid by You will be refunded to You. Refund will be processed based on the mode of payment and Rosara Lifestyle or the approved payment gateway will credit Your refunds directly into Your debit/credit card or online accounts or provide You with a cheque in this regard. Refunds will be subject to the following: • Orders paid online will be refunded within 7-21 working days through the online account or via cheque, depending on the then current circumstances as determined by Rosara Lifestyle; • For Cash on Delivery payments, You will be provided with a refund cheque. • If the Product can be repaired by the service centre, Rosara Lifestyle would get the same repaired and send it back to You. • A promo code, once used shall not be refunded in case of cancellation of order either by customer or Rosara Lifestyle.</p>
        </li>

        <li>
          <h6>9. Shipping, Delivery and Cancellation</h6>
          <p>Please see terms relating to shipping, delivery and cancellation on the website.</p>
        </li>

        <li>
          <h6>10. Warranties and Claims </h6>
          <p>Please note the standard warranties and the conditions for usage of the Products in relation to each Product. No claim (a) that is contrary to the above or (b) where Products have been used contrary to the conditions of usage; will be entertained.</p>
        </li>

        <li>
          <h6>11. Indemnification and Limitation of Liability</h6>
          <p>11.1. You agree to indemnify, defend and hold harmless Rosara Lifestyle from and against any and all losses, liabilities, claims, damages, demands, costs and expenses (including legal fees and disbursements in connection therewith and interest chargeable thereon) asserted against or incurred by Rosara Lifestyle that arise out of, result from, or may be payable by virtue of, any breach of any representation, warranty, covenant or agreement made or obligation to be performed by You pursuant to these Supply Terms or any Additional Terms applicable to the purchase of Products.</p>
          <p>11.2. In no event shall Rosara Lifestyle, its officers, directors, employees, partners or vendors be liable to You, the Vendor or any third party for any special, incidental, indirect, consequential or punitive damages whatsoever, including those resulting from loss of use, data or profits, whether or not foreseeable or whether or not Rosara Lifestyle has been advised of the possibility of such damages, or based on any theory of liability, including breach of contract or warranty, negligence or other tortious action, or any other claim arising out of or in connection with Your purchase of the products and services herein. Notwithstanding anything to contrary, Rosara Lifestyle's entire liability to You under this Terms of Offer For Sale or otherwise shall be the refund of the money charged from You, under which the unlikely liability arises.</p>
        </li>

        <li>
          <h6>12. Governing Law</h6>
          <p>12.1. These Supply Terms and the relationship between You and Rosara Lifestyle shall be governed in accordance with the laws of India without reference to conflict of laws principles.</p>
          <p>12.2. All claims, differences and disputes arising under or in connection with or in relation to the Terms of Offer For Sale or any transactions entered into on or through the Website or the relationship between You and Rosara Lifestyle shall be subject to the exclusive jurisdiction of the courts at Bangalore and You hereby accede to and accept the jurisdiction of such courts.</p>
        </li>
      </ul>     
  </div>    
</article>